pais {background-color:white;}
cabecera {background-color:black; display:block;}
departamento {color:green; display:inline;} 
habitantes{color:blue; display:inline;}
altura {color:black;font-size:1cm;}

