pais {background-color:black;}
cabecera {background-color:white; display:block;}
departamento {color:black; display:inline;} 
habitantes{color:green; display:inline;}
altura {color:purple;font-size:1cm;}

