pais {background-color:blue;}
cabecera {background-color:red; display:block;}
departamento {color:white; display:inline;} 
habitantes{color:yellow; display:inline;}
altura {color:yellow;font-size:1cm;}

